In [13]:
import pandas as pd
import numpy as np
import unicodedata

### Import the different files

In [14]:
sell_data = pd.read_csv('properati_data/sell/sell_census_barrios.csv')
sell_data = sell_data.drop_duplicates(subset='id_left')
health_data = pd.read_csv('properati_data/sell_stripped/sell_census_health.csv')
humanity_data = pd.read_csv('properati_data/sell_stripped/sell_census_humanity.csv')
#property_data = pd.read_csv('properati_data/sell_stripped/sell_census_property.csv')
property_data = pd.read_csv('properati_data/sell_stripped/Updataed_Merged_data.csv')
wifi_data = pd.read_csv('properati_data/sell_stripped/sell_census_public_wifi.csv')
sports_data = pd.read_csv('properati_data/sell_stripped/sell_census_sports.csv')
transport_data = pd.read_csv('properati_data/sell_stripped/sell_census_transportation.csv')

In [15]:
def remove_accents(input_str):
    nfkd_form = unicodedata.normalize('NFKD', input_str)
    return u"".join([c for c in nfkd_form if not unicodedata.combining(c)])

sell_data.place_name = sell_data.place_name.apply(lambda x: x.upper())
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('SAN NICOLÃ¡S', 'SAN NICOLAS')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('CONSTITUCIÃ³N', 'CONSTITUCION')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('NUÃ±EZ', 'NUÑEZ')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('LAS CAÃ±ITAS', 'LAS CANITAS')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('VILLA PUEYRREDÃ³N', 'VILLA PUEYRREDON')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('SAN MARTÃ\xadN', 'SAN MARTIN')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('RAMOS MEJÃ\xadA', 'RAMOS MEJIA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('VICENTE LÃ³PEZ', 'VICENTER LOPEZ')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('GENERAL SAN MARTÃ\xadN', 'GENERAL SAN MARTIN')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('AGRONOMÃ\xadA', 'AGRONOMIA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('SÃ¡ENZ PEÃ±A', 'SAENZ PENA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('ITUZAINGÃ³', 'ITUZAINGO')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('LUJÃ¡N', 'LUJAN')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('ADROGUÃ©', 'ADROGUE')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('RINCÃ³N DE MILBERG', 'RINCON DE MILBERG')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('ESTEBAN ECHEVERRÃ\xadA', 'ESTEBAN ECHEVERRIA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('HARAS MARÃ\xadA VICTORIA', 'HARAS MARIA VICTORIA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('HARAS MARÃ\xadA ELENA', 'HARAS MARIA ELENA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('BARRIO PARQUE ALMIRANTE IRÃ\xadZAR', 'BARRIO PARQUE ALMIRANTE IRIZAR')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('RINCÃ³N DE LA COSTA', 'RINCON DE LA COSTA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('CORONEL SUÃ¡REZ', 'CORONEL SUAREZ')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('CAMPOS DE Ã\x81LVAREZ', 'CAMPOS DE ALVAREZ')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('BUENOS AIRES COSTA ATLÃ¡NTICA', 'BUENOS AIRES COSTA ATLANTICA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('MORÃ³N', 'MORON')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('ROQUE PÃ©REZ', 'ROQUE PAREZ')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('LANÃºS OESTE', 'LANAS OESTE')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('MARTÃ\xadNEZ', 'MARTINEZ')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('BAHÃ\xadA BLANCA', 'BAHIA BLANCA')))
sell_data.place_name = sell_data.place_name.apply(lambda x: str(x.replace('LANÃºS ESTE', 'LANUS ESTE')))


                                                  
sell_data.place_name.unique()

array(['BARRACAS', 'PARQUE LELOIR', 'CAPITAL FEDERAL', 'SAN TELMO',
       'SAN NICOLAS', 'PALERMO', 'BOCA', 'PARQUE PATRICIOS', 'TIGRE',
       'BENAVIDEZ', 'REMEDIOS DE ESCALADA', 'CABALLITO', 'POMPEYA',
       'PUERTO MADERO', 'CONSTITUCION', 'MONSERRAT', 'LANÃºS',
       'AVELLANEDA', 'ALMAGRO', 'BALVANERA', 'BOEDO', 'FLORIDA OESTE',
       'PARQUE CHACABUCO', 'FLORES', 'VILLA CRESPO', 'PARQUE AVELLANEDA',
       'VILLA LUGANO', 'FLORESTA', 'VILLA GENERAL MITRE', 'BELGRANO',
       'COLEGIALES', 'NUÑEZ', 'VILLA URQUIZA', 'VILLA ORTUZAR', 'COGHLAN',
       'VILLA SANTA RITA', 'BARRIO NORTE', 'RECOLETA', 'LAS CANITAS',
       'PATERNAL', 'PALERMO CHICO', 'VILLA PUEYRREDON', 'MAR DEL PLATA',
       'ABASTO', 'NORDELTA', 'AZUL', 'CHACARITA', 'SAN MARTIN', 'RETIRO',
       'SAAVEDRA', 'VILLA DEVOTO', 'LINIERS', 'OLIVOS', 'VELEZ SARSFIELD',
       'PALERMO HOLLYWOOD', 'PALERMO SOHO', 'VILLA LURO', 'MATADEROS',
       'MONTE CASTRO', 'VILLA REAL', 'VERSALLES', 'RAMOS MEJIA',
       'CIUDADELA', 'CONGRESO', 'SAN CRISTOBAL', 'CENTRO / MICROCENTRO',
       'SAN FERNANDO', 'CATALINAS', 'BS.AS. G.B.A. ZONA NORTE',
       'PALERMO VIEJO', 'DISTRITO AUDIOVISUAL', 'LA PLATA', 'PILAR',
       'VILLA DEL PARQUE', 'ONCE', 'VICENTER LOPEZ', 'CASEROS',
       'GENERAL SAN MARTIN', 'AGRONOMIA', 'PARQUE CENTENARIO',
       'PARQUE CHAS', 'VILLA RAFFO', 'SANTOS LUGARES', 'TRES DE FEBRERO',
       'VILLA BALLESTER', 'SAENZ PENA', 'VILLA LYNCH', 'ITUZAINGO',
       'TRIBUNALES', 'LOS TRES CONILES', 'CORONEL ROSALES', 'LOBOS',
       'BARRIO CEIBOS', 'GENERAL PACHECO', 'VILLANUEVA', 'PINAMAR',
       'EZEIZA', 'LUJAN', 'DON TORCUATO', 'ADROGUE', 'ESCOBAR',
       'GUILLERMO HUDSON', 'RINCON DE MILBERG', 'SAN VICENTE',
       'EL TALAR DE PACHECO', 'CITY BELL', 'BERAZATEGUI', 'EL TALAR',
       'SOLARES DEL TALAR', 'LAS TONINAS', 'LOS HORNOS', 'RANELAGH',
       'LA COMARCA', 'ESTEBAN ECHEVERRIA', 'TRES ARROYOS',
       'VILLA UDAONDO', 'SANTA BARBARA BARRIO CERRADO', 'ACASSUSO',
       'HARAS MARIA VICTORIA', 'CANNING', 'COSTA DEL ESTE',
       'HARAS MARIA ELENA', 'FINCAS DE IRAOLA', 'SOLAR DEL BOSQUE',
       'MORENO', 'BARRIO PARQUE GENERAL SAN MARTIN', 'LAGUNA DEL SOL',
       'SEPTIEMBRE', 'BS.AS. G.B.A. ZONA OESTE', 'VILLA SARMIENTO',
       'GENERAL PAZ', 'VILLA GESELL', 'MANUEL B GONNET',
       'SAN ANTONIO DE PADUA', 'MIRAMAR', 'GUERNICA', 'MASCHWITZ',
       'VILLA ARIZA', 'BARRIO PARQUE ALMIRANTE IRIZAR', 'VALLE CLARO',
       'PILAR GREEN PARK', 'MALVINAS ARGENTINAS', 'RINCON DE LA COSTA',
       'JOSE MARMOL', 'CASTELAR', 'NORBERTO DE LA RIESTRA',
       'LOS ROBLES DE MASCHWITZ', 'VILLA ELVIRA', 'CORONEL SUAREZ',
       'CAMPOS DE ALVAREZ', 'LOMAS DE ZAMORA', 'VILLA SOLDATI',
       'SAN MIGUEL', 'DISTRITO DE LAS ARTES',
       'BUENOS AIRES COSTA ATLANTICA', 'QUILMES', 'BELLA VISTA', 'MERLO',
       'EL PALOMAR', 'LAS FLORES', 'MORON', 'VILLA ADELINA',
       'LANAS OESTE', 'SAN JUSTO', 'ROQUE PAREZ', 'VILLA MARTELLI',
       'MUNRO', 'LOMAS DEL MIRADOR', 'CARAPACHAY', 'MARTINEZ',
       'LA MATANZA', 'LA TABLADA', 'BARRIO SAN ISIDRO LABRADOR',
       'SAN ISIDRO', 'FLORIDA', 'ZONA PORTUARIA', 'DELTA', 'ISLAS',
       'SAN LORENZO', 'CAMPANA', 'BAHIA BLANCA', 'TORNQUIST',
       'VILLA RIACHUELO', 'TAPIALES', 'VICTORIA', 'LANUS ESTE',
       'MONTE CHINGOLO'], dtype=object)

In [16]:
sell_data.place_name = sell_data.place_name.apply(lambda x: remove_accents(x))

In [17]:
print ('Health:\n {}\n'.format(health_data.columns.values))
print ('Humanity:\n {}\n'.format(humanity_data.columns.values))
print ('Property:\n {}\n'.format(property_data.columns.values))
print ('Wifi:\n {}\n'.format(wifi_data.columns.values))
print ('Sports:\n {}\n'.format(sports_data.columns.values))

Health:
 ['field_1' 'id_left' 'lat' 'lon' 'join_long' 'join_lat' 'join_object'
 'join_id' 'join_name' 'join_comune' 'distance']

Humanity:
 ['field_1' 'id_left' 'lat' 'lon' 'join_object' 'join_long' 'join_lat'
 'join_name' 'join_comune' 'distance']

Property:
 ['field_1' 'id_left' 'lat' 'lon' 'join_Commune' 'join_Longitude'
 'join_Latitude' 'join_Date' 'join_Value in US Dollars'
 'join_Value of m2 (US Dollars)' 'join_m2' 'join_b_id' 'distance']

Wifi:
 ['field_1' 'id_left' 'lat' 'lon' 'join_lat' 'join_long' 'join_id'
 'join_object' 'join_name' 'join_comune' 'distance']

Sports:
 ['field_1' 'id_left' 'lat' 'lon' 'join_long' 'join_lat' 'join_id'
 'join_object' 'join_name' 'join_comune' 'distance']

In [18]:
def rename_columns(label, label_list):
    label_dict = {}
    
    for lab in label_list:
        if lab.find('join') == 0:
            label_dict[lab] = lab.replace('join',label)
        elif lab == 'distance':
            label_dict[lab] = label + '_' + lab
    return label_dict

In [19]:
health_data.rename(columns=rename_columns('health',health_data.columns.values), inplace=True)
humanity_data.rename(columns=rename_columns('humanity',humanity_data.columns.values), inplace=True)
property_data.rename(columns=rename_columns('property_values',property_data.columns.values), inplace=True)
wifi_data.rename(columns=rename_columns('public_wifi',wifi_data.columns.values), inplace=True)
sports_data.rename(columns=rename_columns('sports',sports_data.columns.values), inplace=True)
transport_data.rename(columns=rename_columns('transportation',transport_data.columns.values), inplace=True)

In [20]:
sell_data = pd.merge(sell_data, health_data, on='id_left', how='left')
sell_data = pd.merge(sell_data, humanity_data, on='id_left', how='left')
sell_data = pd.merge(sell_data, property_data, on='id_left', how='left')
sell_data = pd.merge(sell_data, wifi_data, on='id_left', how='left')
sell_data = pd.merge(sell_data, sports_data, on='id_left', how='left')
sell_data = pd.merge(sell_data, transport_data, on='id_left', how='left')

In [21]:
print (sell_data.columns.values)

['Unnamed: 0' 'Unnamed: 0.1' 'dataset_date' 'id_left' 'created_on'
 'operation' 'property_type' 'place_name' 'country_name' 'state_name'
 'geonames_id' 'lat_lon' 'lat_x' 'lon_x' 'price' 'currency'
 'price_aprox_local_currency' 'price_aprox_usd' 'coordinates' 'AREA'
 'Commune' 'DEPTO' 'FRAC' 'Computer Percent' 'Computer Quantile'
 'Cellular Percent' 'Cellular Quantile' 'Rent Percent' 'Rent Quantile'
 'LINK' 'Immigration Percent' 'Immigration Quantile' 'Education Percent'
 'Education Quantile' 'PERIMETER' 'Owner Percent' 'Owner Quantile' 'PROV'
 'RADIO' 'RADPAIS_' 'REDCODE' 'Regular Percent' 'Regular Quantile' 'TIPO'
 'Uninhabited Percent' 'Uninhabited Quantile' 'type' 'index_right'
 'barrio' 'comuna' 'perimetro' 'area' 'Barrio' 'id' 'b_id' 'field_1_x'
 'lat_y' 'lon_y' 'health_long' 'health_lat' 'health_object' 'health_id'
 'health_name' 'health_comune' 'health_distance' 'field_1_y' 'lat_x'
 'lon_x' 'humanity_object' 'humanity_long' 'humanity_lat' 'humanity_name'
 'humanity_comune' 'humanity_distance' 'field_1_x' 'lat_y' 'lon_y'
 'property_values_Commune' 'property_values_Longitude'
 'property_values_Latitude' 'property_values_Date'
 'property_values_Value in US Dollars'
 'property_values_Value of m2 (US Dollars)' 'property_values_m2'
 'property_values_b_id' 'property_values_distance' 'field_1_y' 'lat_x'
 'lon_x' 'public_wifi_lat' 'public_wifi_long' 'public_wifi_id'
 'public_wifi_object' 'public_wifi_name' 'public_wifi_comune'
 'public_wifi_distance' 'field_1_x' 'lat_y' 'lon_y' 'sports_long'
 'sports_lat' 'sports_id' 'sports_object' 'sports_name' 'sports_comune'
 'sports_distance' 'field_1_y' 'lat' 'lon' 'transportation_long'
 'transportation_lat' 'transportation_id' 'transportation_object'
 'transportation_name' 'transportation_distance']

In [22]:
sell_data = sell_data[['dataset_date','id_left','created_on','operation',\
                         'property_type', 'place_name','country_name','state_name','geonames_id',\
                         'lat_lon', 'lat_x' ,'lon_x' ,'price','currency','price_aprox_local_currency',\
                        'price_aprox_usd','coordinates', 'barrio','comuna','AREA',\
                       'Commune','b_id',\
                        'Computer Percent', 'Computer Quantile','Cellular Percent','Cellular Quantile',\
                       'Rent Percent', 'Rent Quantile','Immigration Percent' ,'Immigration Quantile',\
                       'Education Percent','Education Quantile','Owner Percent','Owner Quantile',\
                       'Regular Percent','Regular Quantile','Uninhabited Percent','Uninhabited Quantile',\
                       'health_long','health_lat','health_object','health_id','health_name','health_comune',\
                       'health_distance','property_values_Commune','property_values_Longitude','property_values_Latitude',\
                       'property_values_Date','property_values_Value in US Dollars','property_values_Value of m2 (US Dollars)',\
                       'property_values_m2', 'property_values_b_id','property_values_distance','public_wifi_lat',\
                       'public_wifi_long','public_wifi_id','public_wifi_object','public_wifi_name', 'public_wifi_comune',\
                       'public_wifi_distance','sports_long','sports_lat','sports_id','sports_object','sports_name',\
                       'sports_comune', 'sports_distance','transportation_long','transportation_lat','transportation_id',\
                       'transportation_object','transportation_name','transportation_distance'
                      ]]

In [23]:
vals = ['d0a0a3a555462be846d751fc2fece38bf8fa3a96', 'b896e5f273bfdaef5bf3987ca3d169801fc78afc', '65a00d06276b9fc3e2ff75d3f6591fa8aa1b73f5',\
        'cfb6026107f5325a80cbef56a8c7449381d44105', '7a0466eafa22d2822a1be8a5898a35cdcf8bd9c4', '6517d45950d8e8f0bcb55d9f4cd6b36e09c12ac4']
df = sell_data[sell_data.id_left.isin(vals)]
df[['b_id','barrio', 'property_values_b_id']]

        b_id             barrio  property_values_b_id
15789    NaN          MONSERRAT                    36
15919    NaN          MONSERRAT                    36
15920    NaN          MONSERRAT                    36
106764   NaN    VELEZ SARSFIELD                    22
110076   NaN  VILLA GRAL. MITRE                     7
110331   NaN  VILLA GRAL. MITRE                     7

In [24]:
sell_data.to_csv('properati_data/sell data/final_file_4.csv')