In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime as dt

%matplotlib notebook

plt.style.use('default')
mpl.rcParams['figure.figsize'] = (10, 10)

In [2]:
#Open the csv files with the terrains data

terrains2001 = pd.read_csv('2001.csv', sep=';', thousands=',')
terrains2002 = pd.read_csv('2002.csv', sep=';', thousands=',')
terrains2003 = pd.read_csv('2003.csv', sep=';', thousands=',')
terrains2004 = pd.read_csv('2004.csv', sep=';', thousands=',')
terrains2005 = pd.read_csv('2005.csv', sep=';', thousands=',')
terrains2006 = pd.read_csv('2006.csv', sep=';', thousands=',')
terrains2007 = pd.read_csv('2007.csv', sep=';', thousands=',')
terrains2008 = pd.read_csv('2008.csv', sep=';', thousands=',')
terrains2009 = pd.read_csv('2009.csv', sep=';', thousands=',')
terrains2010 = pd.read_csv('2010.csv', sep=';', thousands=',')
terrains2011 = pd.read_csv('2011.csv', sep=';', thousands=',')
terrains2012 = pd.read_csv('2012.csv', sep=';', thousands=',')
terrains2013 = pd.read_csv('2013.csv', sep=';', thousands=',')
terrains2014 = pd.read_csv('2014.csv', sep=';')
terrains2015 = pd.read_csv('2015.csv', sep=';')

#2015 Does not have a date column
terrains2015['Date'] = pd.to_datetime('2015/06/01', format='%Y/%m/%d')
terrains2016 = pd.read_csv('2016.csv', decimal=',', sep=';')

#2016 has empty values with a single space for the Date column
terrains2016['FECHA'] = (terrains2016['FECHA'].apply(lambda x: str(x.replace(' ', '12/29/2016'))))
terrains2017 = pd.read_csv('2017.csv', decimal=',', sep=';')
terrains2018 = pd.read_csv('2018.csv', sep=';', thousands=',')

In [3]:
print(terrains2001.columns)
print(terrains2002.columns)
print(terrains2003.columns)
print(terrains2004.columns)
print(terrains2005.columns)
print(terrains2006.columns)
print(terrains2007.columns)
print(terrains2008.columns)
print(terrains2009.columns)
print(terrains2010.columns)
print(terrains2011.columns)
print(terrains2012.columns)
print(terrains2013.columns)
print(terrains2014.columns)
print(terrains2015.columns)
print(terrains2016.columns)
print(terrains2017.columns)
print(terrains2018.columns)

Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['LON', 'LAT', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'PESOS',
       'U_S_M2', 'Z_M2', 'BARRIOS', 'COMUNA'],
      dtype='object')
Index(['LONGITUD', 'LATITUD', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'Z',
       'U_S_M2', 'Z_M2', 'BARRIOS', 'COMUNA'],
      dtype='object')
Index(['X', 'Y', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'PESOS',
       'U_S_M2', 'BARRIOS', 'COMUNA'],
      dtype='object')
Index(['X', 'Y', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'U_S_M2', 'FOT', 'COTIZ',
       'BARRIO', 'COMUNA', 'DIRECCION NORMALIZADA', 'CODIGO_POSTAL',
       'CODIGO_POSTAL_ARGENTINO', 'Date'],
      dtype='object')
Index(['X', 'Y', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'U_S_M2', 'FOT',
       'COTIZ', 'BARRIOS', 'COMUNA', 'DIRECCION_NORMALIZADA', 'CODIGO_POSTAL',
       'CODIGO_POSTAL_ARGENTINO'],
      dtype='object')
Index(['X', 'Y', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'U_S_M2', 'FOT',
       'COTIZ', 'BARRIOS', 'COMUNA', 'DIRECCION_NORMALIZADA', 'CODIGO_POSTAL',
       'CODIGO_POSTAL_ARGENTINO'],
      dtype='object')
Index(['X', 'Y', 'FECHA', 'DIRECCION', 'DIRECCION_NORMALIZADA', 'M2TOTAL',
       'PRECIOARS', 'PRECIOARSM', 'PRECIOUSD', 'PRECIOUSDM', 'CAMBIO',
       'AMBIENTES', 'DORMITORIO', 'BAÃ‘OS', 'URL', 'BARRIO', 'COMUNA',
       'CODIGO_POSTAL', 'CODIGO_POSTAL_ARGENTINO'],
      dtype='object')

In [4]:
#This function will clean the dataframes and return it with renamed columns.

def cleanData(df):

        #First, we define the column names used in all dataframes and their corresponding unified name
        columnNames = {'longitud':'Longitude', 'LON':'Longitude', 'LONGITUD':'Longitude', 'latitud': 'Latitude',
                       'LAT': 'Latitude', 'LATITUD':'Latitude', 'X': 'Longitude', 'Y': 'Latitude',
                       'barrio': 'Location', 'fecha': 'Date', 'dolares': 'Value in US Dollars', 
                       'u_s_m2': 'Value of m2 (US Dollars)', 'BARRIOS': 'Location', 'FECHA': 'Date', 
                       'DOLARES': 'Value in US Dollars', 'U_S_M2': 'Value of m2 (US Dollars)', 'M2': 'm2',
                       'BARRIO': 'Location', 'PRECIOUSD': 'Value in US Dollars', 'PRECIOUSDM': 'Value of m2 (US Dollars)',
                       'M2TOTAL': 'm2', 'COMUNA': 'Commune', 'comuna': 'Commune'}
        
        #Then, delete empty rows, rename the columns and set the index for the Location (Name of the Barrio)
        df = (df.dropna()
            .rename(columns=columnNames)
            .set_index('Location'))
        
        #With the following line, we indicate that we only wish to keep the columns below, then the rest can be deleted
        df = df[['Commune', 'Longitude', 'Latitude', 'Date', 'Value in US Dollars', 'Value of m2 (US Dollars)', 'm2']]
        
        # Normalize Commune column to just numbers
        df['Commune'] = df['Commune'].apply(lambda x: 
                                            if isinstance(x, str) [int(a) for a in x.split() if a.isdigit()]
                                            else return x)        
        #Since some of the date columns are a String datatype, this sets them as datetime type.
        df['Date'] = pd.to_datetime(df['Date'])
        
        #This is to unify the format of the date column so that all dataframes are the same
        df['Date'] = df['Date'].dt.strftime('%Y/%m/%d')
        
        #Unify the Data type for the column 'Value of m2 (US Dollars)' to float. This will allow to perform operations later.
        df['Value of m2 (US Dollars)'] = df['Value of m2 (US Dollars)'].astype(float)
        df['Value in US Dollars'] = df['Value of m2 (US Dollars)'] * df['m2']
        return df

SyntaxError: invalid syntax (<ipython-input-4-12667001cd2c>, line 24)

In [ ]:
terrains2001 = cleanData(terrains2001)
terrains2002 = cleanData(terrains2002)
terrains2003 = cleanData(terrains2003)
terrains2004 = cleanData(terrains2004)
terrains2005 = cleanData(terrains2005)
terrains2006 = cleanData(terrains2006)
terrains2007 = cleanData(terrains2007)
terrains2008 = cleanData(terrains2008)
terrains2009 = cleanData(terrains2009)
terrains2010 = cleanData(terrains2010)
terrains2011 = cleanData(terrains2011)
terrains2012 = cleanData(terrains2012)
terrains2013 = cleanData(terrains2013)
terrains2014 = cleanData(terrains2014)
terrains2015 = cleanData(terrains2015)
terrains2016 = cleanData(terrains2016)
terrains2017 = cleanData(terrains2017)
terrains2018 = cleanData(terrains2018)

In [ ]:
terrains2018.head()

In [ ]:
#Here we create a single Dataframe that contains all the data

frames = [terrains2001, terrains2002, terrains2003, terrains2004, terrains2005, terrains2006, terrains2007, terrains2008,
          terrains2009, terrains2010, terrains2011, terrains2012, terrains2013, terrains2015, terrains2016, terrains2017,
         terrains2018]

df = pd.concat(frames)

In [ ]:
df.head()

In [ ]:
df.Commune.unique()

In [ ]:
df.index.unique()

In [ ]:
#Since the names of some barrios are incorrect, this will correct them so that they all have the right names.

df.reset_index(inplace=True)
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('NUNEZ', 'NUÃ‘EZ'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('NU?Ã†EZ', 'NUÃ‘EZ'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('NU?EZ', 'NUÃ‘EZ'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('GOGHLAND', 'COGHLAN'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('PARQUE AVELLANED', 'PARQUE AVELLANEDA'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('SARSFIELD', 'SARFIELD'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('VILLA GRAL. MITRE', 'VILLA GENERAL MITRE'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('VILLA GRAL. MITR', 'VILLA GENERAL MITRE'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('VILLA GRAL MITRE', 'VILLA GENERAL MITRE'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('VILLA PUYRREDON', 'VILLA PUEYRREDON'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('PARQUE AVELLANEDAA', 'PARQUE AVELLANEDA'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('VERSALLES', 'VERSAILLES'))))
df['Location'] = (df['Location'].apply(lambda x: str(x.replace('MONSERRAT', 'MONTSERRAT'))))

In [ ]:
#Here are the corrected names for each Barrio in Buenos Aires
df['Location'].unique()

In [ ]:
df.head()

In [ ]:
barrios = ['PALERMO', 'BELGRANO', 'NUÃ‘EZ', 'VILLA ORTUZAR', 'BALVANERA',
       'SAN CRISTOBAL', 'VILLA CRESPO', 'VILLA GENERAL MITRE', 'FLORESTA',
       'PARQUE CHACABUCO', 'PARQUE AVELLANEDA', 'CABALLITO', 'ALMAGRO',
       'POMPEYA', 'VILLA URQUIZA', 'SAAVEDRA', 'VILLA PUEYRREDON',
       'VILLA LURO', 'MATADEROS', 'FLORES', 'VERSAILLES', 'LINIERS',
       'VELEZ SARFIELD', 'VILLA DEVOTO', 'BOCA', 'AGRONOMIA', 'CHACARITA',
       'PATERNAL', 'COLEGIALES', 'VILLA DEL PARQUE', 'VILLA LUGANO',
       'VILLA SANTA RITA', 'BARRACAS', 'MONTE CASTRO', 'VILLA RIACHUELO',
       'RETIRO', 'MONTSERRAT', 'VILLA SOLDATI', 'CONSTITUCION', 'BOEDO',
       'PARQUE PATRICIOS', 'SAN TELMO', 'COGHLAN', 'SAN NICOLAS',
       'RECOLETA', 'VILLA REAL', 'NUEVA POMPEYA', 'PARQUE CHAS',
       'PUERTO MADERO']

barrios[2]

In [ ]:
#This function creates and returns a dataframe filtered by the selected Barrio, which is passed as the second argument. Grouping
#by year, it adds a column for each the mean, minimum, maximum and standard deviation.

def barrio(df, barrio):
    filtered_df = (df.where(df['Location'] == barrio)
                           .set_index('Location')
                           .dropna()
                           .sort_values('Date'))
    
    #Convert the date column to datetime
    filtered_df['Date'] = pd.to_datetime(filtered_df['Date'])
    
    #Remove the values from before 2001
    filtered_df = (filtered_df.where(filtered_df['Date'] > pd.to_datetime('2000/12/31', format='%Y/%m/%d')))
    
    #We only keep the year, which is later set as index
    filtered_df['Date'] = filtered_df['Date'].dt.strftime('%Y')
    filtered_df.set_index('Date', inplace=True)
    filtered_df.dropna(inplace=True)
    
    #Add the columns for the Mean, Min, Max and Std.
    filtered_df['Yearly Mean value of m2'] = (filtered_df['Value of m2 (US Dollars)'].groupby(level=0).mean())
    filtered_df['Yearly Min value of m2'] = (filtered_df['Value of m2 (US Dollars)'].groupby(level=0).min())
    filtered_df['Yearly Max value of m2'] = (filtered_df['Value of m2 (US Dollars)'].groupby(level=0).max())
    filtered_df['Yearly std for m2 value'] = (filtered_df['Value of m2 (US Dollars)'].groupby(level=0).std())    
    return filtered_df

In [ ]:
palermo = barrio(df, 'PALERMO')
palermo.head()

In [ ]:
agronomia = barrio(df, 'AGRONOMIA')
agronomia.head()

In [ ]:
belgrano = barrio(df, 'BELGRANO')
belgrano.tail()

In [ ]:
df.to_csv()