In [1]:
import pandas as pd

In [2]:
dfs = [
    pd.read_csv('sports_club.csv'),
    pd.read_csv('skate_park.csv'),
    pd.read_csv('sports_center.csv'),
    pd.read_csv('futbol_club.csv')
]

In [3]:
for i in dfs:
    print(i.columns)

Index(['long', 'lat', 'fed_asoc', 'web', 'e_mail', 'telefono', 'calle',
       'altura', 'barrio', 'comuna', 'codigo_postal',
       'codigo_postal_argentino'],
      dtype='object')
Index(['ID', 'long', 'lat', 'nombre', 'categoria', 'direccion', 'comuna',
       'barrio', 'area_de_gobierno', 'direccion_normalizada', 'observacion',
       'objeto'],
      dtype='object')
Index(['long', 'lat', 'id', 'nom_polid', 'calle', 'nro', 'telefono',
       'domicilio', 'barrio', 'comuna', 'hor_atenc', 'valor_ent',
       'codigo_postal', 'codigo_postal_argentino'],
      dtype='object')
Index(['long', 'lat', 'id', 'club', 'estadio', 'web', 'facebook', 'twitter',
       'contacto', 'objeto', 'calle', 'altura', 'barrio', 'comuna',
       'codigo_postal', 'codigo_postal_argentino'],
      dtype='object')

In [4]:
#This function will clean the dataframes and return it with renamed columns.

def cleanData(df):

        #First, we define the column names used in all dataframes and their corresponding unified name
        columnNames = {
            'long':'Longitude', 'LNG':'Longitude', 'X': 'Longitude',
            'lat': 'Latitude', 'LAT': 'Latitude', 'Y': 'Latitude',
            'barrio': 'Barrio', 'BARRIO': 'Barrio',
            
            'nombre': 'Name', 'NOMBRE': 'Name', 'calle_nombre': 'Name',
            'NOMBRE_OFICINA': 'Name', 'nombre_centro': 'Name',
            'nombre_ofi': 'Name', 'CIM': 'Name', 'fed_asoc': 'Name',
            'club': 'Name', 'nom_polid': 'Name'
        }
        
        #Then, delete empty rows, rename the columns and set the index for the Neighborhood (Name of the Barrio)
        df = (df.rename(columns=columnNames))
        
        #With the following line, we indicate that we only wish to keep the columns below, then the rest can be deleted
        df = df[['Barrio', 'Name', 'Longitude', 'Latitude']]
        
        return df.dropna()

In [5]:
for i in range(0, len(dfs)):
    print(i)
    dfs[i] = cleanData(dfs[i])

0
1
2
3

In [6]:
type_col = ['sports club', 'skate park', 'sports center', 'futbol club']
for i in range(0, len(dfs)):
    dfs[i]['Type'] = type_col[i]

In [7]:
df = pd.concat(dfs)

In [8]:
df['Barrio'] = df['Barrio'].str.upper()

In [9]:
#Since the names of some barrios are incorrect, this will correct them so that they all have the right names.

df.reset_index(inplace=True)
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('AGRONOMÍA', 'AGRONOMIA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('CONSTITUCIÓN', 'CONSTITUCION'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA ORTÚZAR', 'VILLA ORTUZAR'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('BALVANERA ', 'BALVANERA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA PUEYRREDÓN', 'VILLA PUEYRREDON'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NUNEZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU?ÆEZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU?EZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU�EZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU\\U00F1EZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('GOGHLAND', 'COGHLAN'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('PARQUE AVELLANED', 'PARQUE AVELLANEDA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('SARSFIELD', 'SARFIELD'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL. MITRE', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL. MITR', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL MITRE', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA PUYRREDON', 'VILLA PUEYRREDON'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('PARQUE AVELLANEDAA', 'PARQUE AVELLANEDA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VERSALLES', 'VERSAILLES'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('MONSERRAT', 'MONTSERRAT'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VÉLEZ SARFIELD', 'VELEZ SARFIELD'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('LA BOCA', 'BOCA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('LA PATERNAL', 'PATERNAL'))))

In [10]:
print(len(df['Barrio'].unique()))
sorted(df['Barrio'].unique())

37

['AGRONOMIA',
 'ALMAGRO',
 'BALVANERA',
 'BARRACAS',
 'BELGRANO',
 'BOCA',
 'CABALLITO',
 'COLEGIALES',
 'FLORES',
 'FLORESTA',
 'LINIERS',
 'MATADEROS',
 'MONTE CASTRO',
 'MONTSERRAT',
 'NUEVA POMPEYA',
 'NUÑEZ',
 'PALERMO',
 'PARQUE AVELLANEDA',
 'PARQUE CHACABUCO',
 'PARQUE PATRICIOS',
 'PATERNAL',
 'RECOLETA',
 'RETIRO',
 'SAAVEDRA',
 'SAN CRISTOBAL',
 'SAN NICOLAS',
 'SAN TELMO',
 'VERSAILLES',
 'VILLA CRESPO',
 'VILLA DEVOTO',
 'VILLA GENERAL MITRE',
 'VILLA LUGANO',
 'VILLA PUEYRREDON',
 'VILLA REAL',
 'VILLA RIACHUELO',
 'VILLA SANTA RITA',
 'VILLA SOLDATI']

In [11]:
barrio_df = pd.read_csv('../../barrio_table.csv')
df = df[df['Barrio'].isin(barrio_df.Barrio)]
df['b_id'] = [int(barrio_df[barrio_df.Barrio == i].id) for i in df.Barrio]
df = df.drop('Barrio', axis=1)

In [12]:
df.head()

,index,Name,Longitude,Latitude,Type,b_id
0,0,Asociación Metropolitana de Squash,-58.441454,-34.571932,sports club,28
1,1,Federación Metropolitana de Taekwondo,-58.403847,-34.637516,sports club,40
2,2,Asociación Metropolitana de Cazadores y Tirado...,-58.441222,-34.667652,sports club,37
3,3,Federación Metropolitana de Balonmano,-58.416848,-34.619663,sports club,12
4,4,Federación Porteña de Patín,-58.416016,-34.606715,sports club,12

In [13]:
df.to_csv('sports_table.csv', index=False)