In [1]:
import pandas as pd
import numpy as np
#import matplotlib as plt

In [2]:
tmp = pd.read_json("data.json")
# Drop type label
dat = pd.read_json(tmp.properties.to_json())
geometry = pd.read_json(tmp.geometry.to_json())
geometry = geometry.T
dat = dat.T

In [3]:
dat.head()
print (geometry.head())
df = dat.join(geometry)
df.head()
dat = df

                                         coordinates     type
0  [[[-58.37828, -34.598910000000004], [-58.37826...  Polygon
1  [[[-58.41259, -34.60161], [-58.4128, -34.60251...  Polygon
2  [[[-58.37537, -34.59871], [-58.37534, -34.5998...  Polygon
3  [[[-58.37684, -34.59881], [-58.3768, -34.59995...  Polygon
4  [[[-58.51344, -34.60832], [-58.51267, -34.6091...  Polygon

In [4]:
dat.columns.unique()

Index(['AREA', 'Comune', 'DEPTO', 'FRAC', 'H2819B_p', 'H2819B_q', 'H2819C_p',
       'H2819C_q', 'INQ_p', 'INQ_q', 'LINK', 'P05_p', 'P05_q', 'P19_p',
       'P19_q', 'PERIMETER', 'PROP_p', 'PROP_q', 'PROV', 'RADIO', 'RADPAIS_',
       'RADPAIS_ID', 'REDCODE', 'TENREG_p', 'TENREG_q', 'TIPO', 'V02_p',
       'V02_q', 'coordinates', 'type'],
      dtype='object')

In [5]:
dat.REDCODE.unique()

array([20010907., 20050208., 20010909., ..., 20050603., 20010910.,
       20011301.])

In [6]:
def cleanData(df):

    for col in df.columns:
        if '_q' in col or col == 'Comune' or col == 'RADPAIS_ID':
            df[col] = df[col].astype(int)
    
    #First, we define the column names used in all dataframes and their corresponding unified name
    columnNames = {
        'P19_q':'Education Quantile', 'P19_p':'Education Percent',
        'P05_q':'Immigration Quantile', 'P05_p':'Immigration Percent',
        'H2819C_q':'Cellular Quantile', 'H2819C_p':'Cellular Percent',
        'H2819B_q': 'Computer Quantile', 'H2819B_p': 'Computer Percent',
        'V02_q': 'Uninhabited Quantile', 'V02_p': 'Uninhabited Percent',
        'PROP_q':'Owner Quantile', 'PROP_p':'Owner Percent',
        'INQ_q': 'Rent Quantile', 'INQ_p': 'Rent Percent',
        'TENREG_q': 'Regular Quantile', 'TENREG_p': 'Regular Percent',
        'Comune': 'Commune', 'RADPAIS_ID': 'id'
    }

    #Then, delete empty rows, rename the columns and set the index for the Location (Name of the Barrio)
    df = (df.rename(columns=columnNames)
            .set_index('id'))
    
    #df = df.drop(['REDCODE', 'DEPTO', 'TIPO', 'RADPAIS_', 'LINK', 'RADIO', 'PROV', 'PERIMETER','FRAC', 'AREA'], axis=1)
    
    return df

In [7]:
dat = cleanData(dat)

In [8]:
dat.describe()

,AREA,Commune,DEPTO,FRAC,Computer Percent,Computer Quantile,Cellular Percent,Cellular Quantile,Rent Percent,Rent Quantile,...,Owner Quantile,PROV,RADIO,RADPAIS_,REDCODE,Regular Percent,Regular Quantile,TIPO,Uninhabited Percent,Uninhabited Quantile
count,3.552000e+03,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,...,3552.000000,3552.0,3552.000000,3552.000000,3.552000e+03,3552.000000,3552.000000,0.0,3552.000000,3552.000000
mean,5.812590e+04,8.011543,8.011543,12.377534,68.521537,4.484234,87.145805,4.453829,29.873001,4.489865,...,4.489302,2.0,5.838682,33148.732264,2.008136e+07,86.346819,4.465653,NaN,3.951295,4.460867
std,1.716641e+05,4.540271,4.540271,7.366970,13.449003,2.871074,3.783692,2.867801,11.136941,2.874628,...,2.872862,0.0,3.345098,1663.045379,4.539743e+04,7.196594,2.855667,NaN,3.490805,2.871635
min,4.520125e+03,1.000000,1.000000,1.000000,3.700000,0.000000,20.000000,0.000000,0.000000,0.000000,...,0.000000,2.0,1.000000,29685.000000,2.001010e+07,0.000000,0.000000,NaN,0.000000,0.000000
25%,1.883341e+04,4.000000,4.000000,6.000000,63.900000,2.000000,84.900000,2.000000,22.175000,2.000000,...,2.000000,2.0,3.000000,31828.500000,2.004101e+07,83.700000,2.000000,NaN,1.900000,2.000000
50%,3.597650e+04,8.000000,8.000000,12.000000,71.100000,4.000000,87.300000,4.000000,28.600000,4.000000,...,4.000000,2.0,6.000000,33141.000000,2.008061e+07,88.000000,4.000000,NaN,3.200000,4.000000
75%,6.356347e+04,12.000000,12.000000,18.000000,77.100000,7.000000,89.500000,7.000000,36.100000,7.000000,...,7.000000,2.0,8.000000,34427.250000,2.012181e+07,90.900000,7.000000,NaN,5.200000,7.000000
max,6.379633e+06,15.000000,15.000000,31.000000,98.300000,9.000000,100.000000,9.000000,93.000000,9.000000,...,9.000000,2.0,23.000000,37083.000000,2.015211e+07,98.300000,9.000000,NaN,83.100000,9.000000

In [9]:
dat.head()

,AREA,Commune,DEPTO,FRAC,Computer Percent,Computer Quantile,Cellular Percent,Cellular Quantile,Rent Percent,Rent Quantile,...,RADIO,RADPAIS_,REDCODE,Regular Percent,Regular Quantile,TIPO,Uninhabited Percent,Uninhabited Quantile,coordinates,type
id,,,,,,,,,,,,,,,,,,,,,
32794,17608.88,1,1.0,9.0,75.0,6,91.3,8,62.2,9,...,7.0,32794.0,20010907.0,89.9,6,NaN,11.8,9,"[[[-58.37828, -34.598910000000004], [-58.37826...",Polygon
32795,14524.75,5,5.0,2.0,87.5,9,95.4,9,31.2,5,...,8.0,32795.0,20050208.0,86.4,3,NaN,4.6,6,"[[[-58.41259, -34.60161], [-58.4128, -34.60251...",Polygon
32796,34959.75,1,1.0,9.0,70.5,4,89.0,6,51.9,9,...,9.0,32796.0,20010909.0,85.2,3,NaN,6.0,8,"[[[-58.37537, -34.59871], [-58.37534, -34.5998...",Polygon
32799,17023.88,1,1.0,9.0,71.1,4,87.2,4,54.4,9,...,8.0,32799.0,20010908.0,79.9,1,NaN,9.9,9,"[[[-58.37684, -34.59881], [-58.3768, -34.59995...",Polygon
32801,73197.38,11,11.0,6.0,69.2,4,87.0,4,21.0,2,...,3.0,32801.0,20110603.0,87.6,4,NaN,3.7,5,"[[[-58.51344, -34.60832], [-58.51267, -34.6091...",Polygon

In [10]:
dat.Commune.unique()

array([ 1,  5, 11, 15,  3,  6,  8, 10,  7, 13, 12,  4,  9, 14,  2])

In [11]:
dat.to_csv('cleaned_data2.csv')