In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
tmp = pd.read_json("data.json")
# Drop type label
dat = pd.read_json(tmp.properties.to_json())
dat = dat.T

In [3]:
dat.head()

,AREA,Comune,DEPTO,FRAC,H2819B_p,H2819B_q,H2819C_p,H2819C_q,INQ_p,INQ_q,...,PROV,RADIO,RADPAIS_,RADPAIS_ID,REDCODE,TENREG_p,TENREG_q,TIPO,V02_p,V02_q
0,17608.88,1.0,1.0,9.0,75.0,6.0,91.3,8.0,62.2,9.0,...,2.0,7.0,32794.0,32794.0,20010907.0,89.9,6.0,NaN,11.8,9.0
1,14524.75,5.0,5.0,2.0,87.5,9.0,95.4,9.0,31.2,5.0,...,2.0,8.0,32795.0,32795.0,20050208.0,86.4,3.0,NaN,4.6,6.0
2,34959.75,1.0,1.0,9.0,70.5,4.0,89.0,6.0,51.9,9.0,...,2.0,9.0,32796.0,32796.0,20010909.0,85.2,3.0,NaN,6.0,8.0
3,17023.88,1.0,1.0,9.0,71.1,4.0,87.2,4.0,54.4,9.0,...,2.0,8.0,32799.0,32799.0,20010908.0,79.9,1.0,NaN,9.9,9.0
4,73197.38,11.0,11.0,6.0,69.2,4.0,87.0,4.0,21.0,2.0,...,2.0,3.0,32801.0,32801.0,20110603.0,87.6,4.0,NaN,3.7,5.0

In [4]:
dat.columns.unique()

Index(['AREA', 'Comune', 'DEPTO', 'FRAC', 'H2819B_p', 'H2819B_q', 'H2819C_p',
       'H2819C_q', 'INQ_p', 'INQ_q', 'LINK', 'P05_p', 'P05_q', 'P19_p',
       'P19_q', 'PERIMETER', 'PROP_p', 'PROP_q', 'PROV', 'RADIO', 'RADPAIS_',
       'RADPAIS_ID', 'REDCODE', 'TENREG_p', 'TENREG_q', 'TIPO', 'V02_p',
       'V02_q'],
      dtype='object')

In [5]:
def cleanData(df):

    for col in df.columns:
        if '_q' in col or col == 'Comune' or col == 'RADPAIS_ID':
            df[col] = df[col].astype(int)
    
    #First, we define the column names used in all dataframes and their corresponding unified name
    columnNames = {
        'P19_q':'Education Quantile', 'P19_p':'Education Percent',
        'P05_q':'Immigration Quantile', 'P05_p':'Immigration Percent',
        'H2819C_q':'Cellular Quantile', 'H2819C_p':'Cellular Percent',
        'H2819B_q': 'Computer Quantile', 'H2819B_p': 'Computer Percent',
        'V02_q': 'Uninhabited Quantile', 'V02_p': 'Uninhabited Percent',
        'PROP_q':'Owner Quantile', 'PROP_p':'Owner Percent',
        'INQ_q': 'Rent Quantile', 'INQ_p': 'Rent Percent',
        'TENREG_q': 'Regular Quantile', 'TENREG_p': 'Regular Percent',
        'Comune': 'Commune', 'RADPAIS_ID': 'id'
    }

    #Then, delete empty rows, rename the columns and set the index for the Location (Name of the Barrio)
    df = (df.rename(columns=columnNames)
            .set_index('id'))
    
    df = df.drop(['REDCODE', 'DEPTO', 'TIPO', 'RADPAIS_', 'LINK', 'RADIO', 'PROV', 'PERIMETER','FRAC', 'AREA'], axis=1)
    
    return df

In [6]:
dat = cleanData(dat)

In [7]:
dat.describe()

,Commune,Computer Percent,Computer Quantile,Cellular Percent,Cellular Quantile,Rent Percent,Rent Quantile,Immigration Percent,Immigration Quantile,Education Percent,Education Quantile,Owner Percent,Owner Quantile,Regular Percent,Regular Quantile,Uninhabited Percent,Uninhabited Quantile
count,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000,3552.000000
mean,8.011543,68.521537,4.484234,87.145805,4.453829,29.873001,4.489865,13.773311,4.474099,35.933530,4.500282,56.473564,4.489302,86.346819,4.465653,3.951295,4.460867
std,4.540271,13.449003,2.871074,3.783692,2.867801,11.136941,2.874628,12.310826,2.880694,16.442778,2.874450,12.996424,2.872862,7.196594,2.855667,3.490805,2.871635
min,1.000000,3.700000,0.000000,20.000000,0.000000,0.000000,0.000000,2.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,63.900000,2.000000,84.900000,2.000000,22.175000,2.000000,7.900000,2.000000,24.700000,2.000000,48.575000,2.000000,83.700000,2.000000,1.900000,2.000000
50%,8.000000,71.100000,4.000000,87.300000,4.000000,28.600000,4.000000,10.300000,4.000000,35.300000,4.500000,58.100000,4.000000,88.000000,4.000000,3.200000,4.000000
75%,12.000000,77.100000,7.000000,89.500000,7.000000,36.100000,7.000000,14.700000,7.000000,48.100000,7.000000,65.700000,7.000000,90.900000,7.000000,5.200000,7.000000
max,15.000000,98.300000,9.000000,100.000000,9.000000,93.000000,9.000000,97.600000,9.000000,83.300000,9.000000,90.700000,9.000000,98.300000,9.000000,83.100000,9.000000

In [8]:
dat.head()

,Commune,Computer Percent,Computer Quantile,Cellular Percent,Cellular Quantile,Rent Percent,Rent Quantile,Immigration Percent,Immigration Quantile,Education Percent,Education Quantile,Owner Percent,Owner Quantile,Regular Percent,Regular Quantile,Uninhabited Percent,Uninhabited Quantile
id,,,,,,,,,,,,,,,,,
32794,1,75.0,6,91.3,8,62.2,9,18.4,8,49.3,7,27.8,0,89.9,6,11.8,9
32795,5,87.5,9,95.4,9,31.2,5,11.3,5,56.6,8,55.2,4,86.4,3,4.6,6
32796,1,70.5,4,89.0,6,51.9,9,19.7,8,49.8,7,33.3,0,85.2,3,6.0,8
32799,1,71.1,4,87.2,4,54.4,9,16.1,7,49.0,7,25.5,0,79.9,1,9.9,9
32801,11,69.2,4,87.0,4,21.0,2,6.9,1,39.2,5,66.6,7,87.6,4,3.7,5

In [9]:
dat.Commune.unique()

array([ 1,  5, 11, 15,  3,  6,  8, 10,  7, 13, 12,  4,  9, 14,  2])

In [10]:
dat.to_csv('cleaned_data.csv')