In [1]:
import pandas as pd

In [2]:
privados = pd.read_csv('centros-de-salud-privados.csv')
comunitaria = pd.read_csv('centros-de-salud-y-accion-comunitaria.csv')
medi = pd.read_csv('centros-medicos-barriales.csv')
pharm = pd.read_csv('farmacias.csv')

In [5]:
print(bib.columns)
print(dep.columns)

Index(['biblioteca', 'calle', 'altura', 'calle_2', 'piso', 'telefono',
       'observaciones', 'direccion_normalizada', 'long', 'lat', 'barrio',
       'comuna', 'codigo_postal', 'codigo_postal_argentino'],
      dtype='object')
Index(['LAT', 'LNG', 'ID', 'NOMBRE', 'CALLE', 'ALTURA', 'PISO_DEPTO',
       'DIRECCION_NORMALIZADA', 'BARRIO', 'COMUNA', 'CP', 'CPA',
       'DIAS_Y_HORARIO', 'TELEFONOS', 'EMAIL', 'WEB', 'ACTIVIDAD',
       'OTRAS_ACTIDADES', 'DEPENDENCIA', 'PUBLICO', 'SECTOR'],
      dtype='object')

In [6]:
#This function will clean the dataframes and return it with renamed columns.

def cleanData(df):

        #First, we define the column names used in all dataframes and their corresponding unified name
        columnNames = {
            'long':'Longitude', 'LNG':'Longitude', 
            'lat': 'Latitude', 'LAT': 'Latitude', 
            'barrio': 'Barrio', 'BARRIO': 'Barrio',
            'biblioteca': 'Name', 'NOMBRE': 'Name'
        }
        
        #Then, delete empty rows, rename the columns and set the index for the Neighborhood (Name of the Barrio)
        df = (df.rename(columns=columnNames))
        
        #With the following line, we indicate that we only wish to keep the columns below, then the rest can be deleted
        df = df[['Barrio', 'Name', 'Longitude', 'Latitude']]
        
        return df.dropna()

In [7]:
bib = cleanData(bib)
dep = cleanData(dep)

In [8]:
bib.head()

         Barrio                 Name  Longitude   Latitude
0     MONSERRAT     ALFONSINA STORNI -58.388140 -34.614716
1  VILLA LUGANO        ALVARO YUNQUE -58.463552 -34.685002
2  VILLA DEVOTO       ANTONIO DEVOTO -58.510894 -34.599313
3     CHACARITA  BALDOMERO F. MORENO -58.450363 -34.591353
4     MATADEROS         BENITO LYNCH -58.496872 -34.667674

In [9]:
dep.head()

,Barrio,Name,Longitude,Latitude
0,MONSERRAT,36 BILLARES,-58.384297,-34.609173
1,RETIRO,ABM,-58.383559,-34.596817
2,MONSERRAT,ACADEMIA NACIONAL DE LA HISTORIA DE LA REPUBLI...,-58.370739,-34.609848
3,CONSTITUCION,ACADEMIA PORTE�A DEL LUNFARDO,-58.385471,-34.618628
4,MONSERRAT,ACCION,-58.372772,-34.611321

In [10]:
df = pd.concat([bib, dep])

In [11]:
#Since the names of some barrios are incorrect, this will correct them so that they all have the right names.

df.reset_index(inplace=True)
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NUNEZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU?ÆEZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU?EZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU�EZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('GOGHLAND', 'COGHLAN'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('PARQUE AVELLANED', 'PARQUE AVELLANEDA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('SARSFIELD', 'SARFIELD'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL. MITRE', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL. MITR', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL MITRE', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA PUYRREDON', 'VILLA PUEYRREDON'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('PARQUE AVELLANEDAA', 'PARQUE AVELLANEDA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VERSALLES', 'VERSAILLES'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('MONSERRAT', 'MONTSERRAT'))))

In [12]:
df['Barrio'].unique()

array(['MONTSERRAT', 'VILLA LUGANO', 'VILLA DEVOTO', 'CHACARITA',
       'MATADEROS', 'PALERMO', 'SAN NICOLAS', 'SAAVEDRA',
       'PARQUE PATRICIOS', 'PARQUE CHACABUCO', 'FLORESTA', 'FLORES',
       'BOCA', 'LINIERS', 'BELGRANO', 'VILLA CRESPO', 'BOEDO',
       'VILLA SANTA RITA', 'RETIRO', 'CONSTITUCION', 'SAN TELMO',
       'PUERTO MADERO', 'VILLA REAL', 'VERSAILLES', 'VILLA LURO',
       'MONTE CASTRO', 'VELEZ SARFIELD', 'VILLA GENERAL MITRE',
       'VILLA DEL PARQUE', 'VILLA URQUIZA', 'VILLA PUEYRREDON', 'COGHLAN',
       'NUÑEZ', 'COLEGIALES', 'VILLA ORTUZAR', 'AGRONOMIA', 'PARQUE CHAS',
       'PATERNAL', 'RECOLETA', 'BALVANERA', 'SAN CRISTOBAL', 'BARRACAS',
       'NUEVA POMPEYA', 'ALMAGRO', 'CABALLITO', 'VILLA RIACHUELO',
       'VILLA SOLDATI', 'PARQUE AVELLANEDA'], dtype=object)

In [13]:
barrio_df = pd.read_csv('../../barrio_table.csv')
df['b_id'] = [int(barrio_df[barrio_df.Barrio == i].id) for i in df.Barrio]
df = df.drop('Barrio', axis=1)

In [14]:
df.head()

   index                 Name  Longitude   Latitude  b_id
0      0     ALFONSINA STORNI -58.388140 -34.614716    36
1      1        ALVARO YUNQUE -58.463552 -34.685002    30
2      2       ANTONIO DEVOTO -58.510894 -34.599313    23
3      3  BALDOMERO F. MORENO -58.450363 -34.591353    26
4      4         BENITO LYNCH -58.496872 -34.667674    18

In [15]:
df.to_csv('culture_table.csv', index=False)