In [1]:
import pandas as pd

In [2]:
dfs = [
    pd.read_csv('boys_and_girls_club.csv'),
    pd.read_csv('child_development_center.csv'),
    pd.read_csv('early_childhood_centers.csv'),
    pd.read_csv('elder_care_center.csv'),
    pd.read_csv('hostels.csv'),
    pd.read_csv('retirement_home.csv'),
    pd.read_csv('social_organizations.csv'),
    pd.read_csv('toy_library.csv'),
    pd.read_csv('women_shelter.csv')
]

In [3]:
for i in dfs:
    print(i.columns)

Index(['X', 'Y', 'NOMBRE', 'DIRECCION', 'DIRECCION_NORMALIZADA', 'BARRIO',
       'COMUNA', 'TELEFONO', 'ATENCION'],
      dtype='object')
Index(['long', 'lat', 'nombre', 'direccion', 'piso_dpto', 'telefono',
       'dia_hora_atencion', 'direccion_normalizada', 'barrio', 'comuna',
       'codigo_postal', 'codigo_postal_argentino', 'localidad'],
      dtype='object')
Index(['X', 'Y', 'NOMBRE', 'DIRECCION', 'DIRECCION_NORMALIZADA', 'BARRIO',
       'COMUNA', 'CODIGO_POSTAL', 'CODIGO_POSTAL_ARGENTINO'],
      dtype='object')
Index(['long', 'lat', 'nombre', 'direccion', 'telefono', 'horarios_atencion',
       'observaciones', 'barrio', 'comuna', 'codigo_postal',
       'codigo_postal_argentino'],
      dtype='object')
Index(['X', 'Y', 'NOMBRE', 'DIRECCION', 'CALLE_NORMALIZADA',
       'ALTURA_NORMALIZADA', 'DESTINATARIO', 'TIPO', 'BARRIO', 'COMUNA',
       'CODIGO_POSTAL', 'CODIGO_POSTAL_ARGENTINO', 'OBSERVACIONES'],
      dtype='object')
Index(['long', 'lat', 'nombre_centro', 'calle', 'altura', 'piso_dpto',
       'barrio', 'comuna', 'codigo_postal', 'codigo_postal_argentino'],
      dtype='object')
Index(['long', 'lat', 'id', 'nombre_ofi', 'telefono', 'email', 'web',
       'horario_de', 'calle_nombre', 'calle_altura', 'calle_cruce', 'sector',
       'manzana', 'piso', 'casa', 'lado', 'pasillo', 'observacio', 'barrio',
       'comuna', 'codigo_postal', 'codigo_postal_argentino', 'tipo_de_or',
       'actividad', 'nom_mapa', 'funcion_de_la_organizacion', 'actividades'],
      dtype='object')
Index(['long', 'lat', 'tipo_de_establecimiento', 'nombre', 'descripcion',
       'edades', 'direccion', 'direccion_normalizada', 'barrio', 'comuna',
       'codigo_postal', 'codigo_postal_argentino'],
      dtype='object')
Index(['long', 'lat', 'CIM', 'calle', 'calle_nro', 'piso', 'telefono', 'mail',
       'atencion', 'barrio', 'comuna', 'codigo_postal',
       'codigo_postal_argentino'],
      dtype='object')

In [4]:
#This function will clean the dataframes and return it with renamed columns.

def cleanData(df):

        #First, we define the column names used in all dataframes and their corresponding unified name
        columnNames = {
            'long':'Longitude', 'LNG':'Longitude', 'X': 'Longitude',
            'lat': 'Latitude', 'LAT': 'Latitude', 'Y': 'Latitude',
            'barrio': 'Barrio', 'BARRIO': 'Barrio',
            
            'nombre': 'Name', 'NOMBRE': 'Name', 'calle_nombre': 'Name',
            'NOMBRE_OFICINA': 'Name', 'nombre_centro': 'Name',
            'CIM': 'Name', 'fed_asoc': 'Name', 'club': 'Name'
        }
        
        #Then, delete empty rows, rename the columns and set the index for the Neighborhood (Name of the Barrio)
        df = (df.rename(columns=columnNames))
        
        #With the following line, we indicate that we only wish to keep the columns below, then the rest can be deleted
        df = df[['Barrio', 'Name', 'Longitude', 'Latitude']]
        
        return df.dropna()

In [5]:
for i in range(0, len(dfs)):
    print(i)
    dfs[i] = cleanData(dfs[i])

0
1
2
3
4
5
6
7
8

In [6]:
type_col = ['boys and girls club', 'child development center', 'early childhood center', 'elder care center', 'hostel', 'retirement home', 'social organization', 'toy library', 'womens shelter']
for i in range(0, len(dfs)):
    dfs[i]['Type'] = type_col[i]

In [7]:
df = pd.concat(dfs)

In [8]:
df['Barrio'] = df['Barrio'].str.upper()

In [9]:
#Since the names of some barrios are incorrect, this will correct them so that they all have the right names.

df.reset_index(inplace=True)
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('AGRONOMÍA', 'AGRONOMIA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('CONSTITUCIÓN', 'CONSTITUCION'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA ORTÚZAR', 'VILLA ORTUZAR'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('BALVANERA ', 'BALVANERA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA PUEYRREDÓN', 'VILLA PUEYRREDON'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NUNEZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU?ÆEZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU?EZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('NU�EZ', 'NUÑEZ'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('GOGHLAND', 'COGHLAN'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('PARQUE AVELLANED', 'PARQUE AVELLANEDA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('SARSFIELD', 'SARFIELD'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL. MITRE', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL. MITR', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA GRAL MITRE', 'VILLA GENERAL MITRE'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VILLA PUYRREDON', 'VILLA PUEYRREDON'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('PARQUE AVELLANEDAA', 'PARQUE AVELLANEDA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VERSALLES', 'VERSAILLES'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('MONSERRAT', 'MONTSERRAT'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('VÉLEZ SARFIELD', 'VELEZ SARFIELD'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('LA BOCA', 'BOCA'))))
df['Barrio'] = (df['Barrio'].apply(lambda x: str(x.replace('LA PATERNAL', 'PATERNAL'))))

In [10]:
print(len(df['Barrio'].unique()))
sorted(df['Barrio'].unique())

47

['AGRONOMIA',
 'ALMAGRO',
 'BALVANERA',
 'BARRACAS',
 'BELGRANO',
 'BOCA',
 'BOEDO',
 'CABALLITO',
 'CHACARITA',
 'COGHLAN',
 'COLEGIALES',
 'CONSTITUCION',
 'FLORES',
 'FLORESTA',
 'LINIERS',
 'MATADEROS',
 'MONTE CASTRO',
 'MONTSERRAT',
 'NUEVA POMPEYA',
 'NÚÑEZ',
 'PALERMO',
 'PARQUE AVELLANEDA',
 'PARQUE CHACABUCO',
 'PARQUE CHAS',
 'PARQUE PATRICIOS',
 'PATERNAL',
 'RECOLETA',
 'RETIRO',
 'SAAVEDRA',
 'SAN CRISTOBAL',
 'SAN NICOLAS',
 'SAN TELMO',
 'VELEZ SARFIELD',
 'VERSAILLES',
 'VILLA CRESPO',
 'VILLA DEL PARQUE',
 'VILLA DEVOTO',
 'VILLA GENERAL MITRE',
 'VILLA LUGANO',
 'VILLA LURO',
 'VILLA ORTUZAR',
 'VILLA PUEYRREDON',
 'VILLA REAL',
 'VILLA RIACHUELO',
 'VILLA SANTA RITA',
 'VILLA SOLDATI',
 'VILLA URQUIZA']

In [11]:
barrio_df = pd.read_csv('../../barrio_table.csv')
df = df[df['Barrio'].isin(barrio_df.Barrio)]
df['b_id'] = [int(barrio_df[barrio_df.Barrio == i].id) for i in df.Barrio]
df = df.drop('Barrio', axis=1)

In [12]:
df.head()

,index,Name,Longitude,Latitude,Type,b_id
0,0,CASA DE LOS NINOS Y ADOLESCENTES DE BARRIO ILLIA,-58.434505,-34.646669,boys and girls club,46
1,1,CASA DE LOS NINOS Y ADOLESCENTES DE BARRACAS,-58.396732,-34.654311,boys and girls club,32
2,2,CASA DE LOS NINOS Y ADOLESCENTES DE LA BOCA-PL...,-58.366200,-34.639693,boys and girls club,24
3,3,CASA DE LOS NINOS Y ADOLESCENTES DE LUGANO,-58.465491,-34.687200,boys and girls club,30
4,0,AGRONOMIA,-58.478036,-34.591133,child development center,25

In [13]:
df.to_csv('humanity_table.csv', index=False)