In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime as dt

%matplotlib notebook

plt.style.use('default')
mpl.rcParams['figure.figsize'] = (10, 10)

In [2]:
#Open the csv files with the terrains data

terrains2001 = pd.read_csv('2001.csv', sep=';', thousands=',')
terrains2002 = pd.read_csv('2002.csv', sep=';', thousands=',')
terrains2003 = pd.read_csv('2003.csv', sep=';', thousands=',')
terrains2004 = pd.read_csv('2004.csv', sep=';', thousands=',')
terrains2005 = pd.read_csv('2005.csv', sep=';', thousands=',')
terrains2006 = pd.read_csv('2006.csv', sep=';', thousands=',')
terrains2007 = pd.read_csv('2007.csv', sep=';', thousands=',')
terrains2008 = pd.read_csv('2008.csv', sep=';', thousands=',')
terrains2009 = pd.read_csv('2009.csv', sep=';', thousands=',')
terrains2010 = pd.read_csv('2010.csv', sep=';', thousands=',')
terrains2011 = pd.read_csv('2011.csv', sep=';', thousands=',')
terrains2012 = pd.read_csv('2012.csv', sep=';', thousands=',')
terrains2013 = pd.read_csv('2013.csv', sep=';', thousands=',')
terrains2014 = pd.read_csv('2014.csv', sep=';')
terrains2015 = pd.read_csv('2015.csv', sep=';')

#2015 Does not have a date column
terrains2015['Date'] = pd.to_datetime('2015/06/01', format='%Y/%m/%d')
terrains2016 = pd.read_csv('2016.csv', decimal=',', sep=';')

#2016 has empty values with a single space for the Date column
terrains2016['FECHA'] = (terrains2016['FECHA'].apply(lambda x: str(x.replace(' ', '12/29/2016'))))
terrains2017 = pd.read_csv('2017.csv', decimal=',', sep=';')
terrains2018 = pd.read_csv('2018.csv', sep=';', thousands=',')

In [3]:
print(terrains2001.columns)
print(terrains2002.columns)
print(terrains2003.columns)
print(terrains2004.columns)
print(terrains2005.columns)
print(terrains2006.columns)
print(terrains2007.columns)
print(terrains2008.columns)
print(terrains2009.columns)
print(terrains2010.columns)
print(terrains2011.columns)
print(terrains2012.columns)
print(terrains2013.columns)
print(terrains2014.columns)
print(terrains2015.columns)
print(terrains2016.columns)
print(terrains2017.columns)
print(terrains2018.columns)

Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['longitud', 'latitud', 'fecha', 'calle', 'numero', 'm2', 'dolares',
       'u_s_m2', 'fot', 'distrito_c', 'fuente_', 'cotiz', 'pesos',
       'm2__pesos_', 'barrio', 'comuna'],
      dtype='object')
Index(['LON', 'LAT', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'PESOS',
       'U_S_M2', 'Z_M2', 'BARRIOS', 'COMUNA'],
      dtype='object')
Index(['LONGITUD', 'LATITUD', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'Z',
       'U_S_M2', 'Z_M2', 'BARRIOS', 'COMUNA'],
      dtype='object')
Index(['X', 'Y', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'PESOS',
       'U_S_M2', 'BARRIOS', 'COMUNA'],
      dtype='object')
Index(['X', 'Y', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'U_S_M2', 'FOT', 'COTIZ',
       'BARRIO', 'COMUNA', 'DIRECCION NORMALIZADA', 'CODIGO_POSTAL',
       'CODIGO_POSTAL_ARGENTINO', 'Date'],
      dtype='object')
Index(['X', 'Y', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'U_S_M2', 'FOT',
       'COTIZ', 'BARRIOS', 'COMUNA', 'DIRECCION_NORMALIZADA', 'CODIGO_POSTAL',
       'CODIGO_POSTAL_ARGENTINO'],
      dtype='object')
Index(['X', 'Y', 'FECHA', 'CALLE', 'NUMERO', 'M2', 'DOLARES', 'U_S_M2', 'FOT',
       'COTIZ', 'BARRIOS', 'COMUNA', 'DIRECCION_NORMALIZADA', 'CODIGO_POSTAL',
       'CODIGO_POSTAL_ARGENTINO'],
      dtype='object')
Index(['X', 'Y', 'FECHA', 'DIRECCION', 'DIRECCION_NORMALIZADA', 'M2TOTAL',
       'PRECIOARS', 'PRECIOARSM', 'PRECIOUSD', 'PRECIOUSDM', 'CAMBIO',
       'AMBIENTES', 'DORMITORIO', 'BAÑOS', 'URL', 'BARRIO', 'COMUNA',
       'CODIGO_POSTAL', 'CODIGO_POSTAL_ARGENTINO'],
      dtype='object')

In [4]:
#This function will clean the dataframes and return it with renamed columns.

def cleanData(df):

        #First, we define the column names used in all dataframes and their corresponding unified name
        columnNames = {'longitud':'Longitude', 'LON':'Longitude', 'LONGITUD':'Longitude', 'latitud': 'Latitude',
                       'LAT': 'Latitude', 'LATITUD':'Latitude', 'X': 'Longitude', 'Y': 'Latitude',
                       'barrio': 'Neighborhood', 'fecha': 'Date', 'dolares': 'Value in US Dollars', 
                       'u_s_m2': 'Value of m2 (US Dollars)', 'BARRIOS': 'Neighborhood', 'FECHA': 'Date', 
                       'DOLARES': 'Value in US Dollars', 'U_S_M2': 'Value of m2 (US Dollars)', 'M2': 'm2',
                       'BARRIO': 'Neighborhood', 'PRECIOUSD': 'Value in US Dollars', 'PRECIOUSDM': 'Value of m2 (US Dollars)',
                       'M2TOTAL': 'm2', 'COMUNA': 'Commune', 'comuna': 'Commune'}
        
        #Then, delete empty rows, rename the columns and set the index for the Neighborhood (Name of the Barrio)
        df = (df.dropna()
            .rename(columns=columnNames)
            .set_index('Neighborhood'))
        
        #With the following line, we indicate that we only wish to keep the columns below, then the rest can be deleted
        df = df[['Commune', 'Longitude', 'Latitude', 'Date', 'Value in US Dollars', 'Value of m2 (US Dollars)', 'm2']]
        
        # Normalize Commune column to just numbers
        df['Commune'] = df['Commune'].apply(lambda x: 
                                            [int(a) for a in x.split() if a.isdigit()][-1] if isinstance(x, str)
                                            else int(x))        
        #Since some of the date columns are a String datatype, this sets them as datetime type.
        df['Date'] = pd.to_datetime(df['Date'])
        
        #This is to unify the format of the date column so that all dataframes are the same
        df['Date'] = df['Date'].dt.strftime('%Y/%m/%d')
        
        #Unify the Data type for the column 'Value of m2 (US Dollars)' to float. This will allow to perform operations later.
        df['Value of m2 (US Dollars)'] = df['Value of m2 (US Dollars)'].astype(float)
        df['Value in US Dollars'] = df['Value of m2 (US Dollars)'] * df['m2']
        return df

In [5]:
terrains2001 = cleanData(terrains2001)
terrains2002 = cleanData(terrains2002)
terrains2003 = cleanData(terrains2003)
terrains2004 = cleanData(terrains2004)
terrains2005 = cleanData(terrains2005)
terrains2006 = cleanData(terrains2006)
terrains2007 = cleanData(terrains2007)
terrains2008 = cleanData(terrains2008)
terrains2009 = cleanData(terrains2009)
terrains2010 = cleanData(terrains2010)
terrains2011 = cleanData(terrains2011)
terrains2012 = cleanData(terrains2012)
terrains2013 = cleanData(terrains2013)
terrains2014 = cleanData(terrains2014)
terrains2015 = cleanData(terrains2015)
terrains2016 = cleanData(terrains2016)
terrains2017 = cleanData(terrains2017)
terrains2018 = cleanData(terrains2018)

In [6]:
terrains2018.head()

,Commune,Longitude,Latitude,Date,Value in US Dollars,Value of m2 (US Dollars),m2
Neighborhood,,,,,,,
CHACARITA,15,-58.446953,-34.590992,2018/09/02,55000.0,2500.0,22
CHACARITA,15,-58.455776,-34.583310,2018/02/13,109970.0,1571.0,70
COLEGIALES,13,-58.450811,-34.580456,2018/02/21,134981.0,1753.0,77
CHACARITA,15,-58.444158,-34.590574,2018/02/27,159941.0,1927.0,83
COLEGIALES,13,-58.448272,-34.581431,2018/02/27,399980.0,2857.0,140

In [7]:
#Here we create a single Dataframe that contains all the data

frames = [terrains2001, terrains2002, terrains2003, terrains2004, terrains2005, terrains2006, terrains2007, terrains2008,
          terrains2009, terrains2010, terrains2011, terrains2012, terrains2013, terrains2015, terrains2016, terrains2017,
         terrains2018]

df = pd.concat(frames)

In [8]:
df.head()

,Commune,Longitude,Latitude,Date,Value in US Dollars,Value of m2 (US Dollars),m2
Neighborhood,,,,,,,
PALERMO,14,-58.4413,-34.5695,2001/12/10,720000.0,2400.0,300.0
BELGRANO,13,-58.4521,-34.5579,2001/12/10,729975.0,973.3,750.0
BELGRANO,13,-58.4523,-34.5577,2001/12/10,650032.5,847.5,767.0
NUÑEZ,13,-58.4677,-34.5374,2001/12/10,369991.2,994.6,372.0
VILLA ORTUZAR,15,-58.462,-34.5783,2001/12/10,94005.7,676.3,139.0

In [9]:
df.Commune.unique()

array([14, 13, 15,  3, 11, 10,  7,  9,  6,  5,  4, 12,  8,  1,  2])

In [10]:
df.index.unique()

Index(['PALERMO', 'BELGRANO', 'NUÑEZ', 'VILLA ORTUZAR', 'BALVANERA',
       'SAN CRISTOBAL', 'VILLA CRESPO', 'VILLA GENERAL MITRE', 'FLORESTA',
       'PARQUE CHACABUCO', 'PARQUE AVELLANEDA', 'CABALLITO', 'ALMAGRO',
       'POMPEYA', 'VILLA URQUIZA', 'SAAVEDRA', 'VILLA PUYRREDON', 'VILLA LURO',
       'MATADEROS', 'FLORES', 'VERSAILLES', 'LINIERS', 'VELEZ SARFIELD',
       'VILLA DEVOTO', 'BOCA', 'AGRONOMIA', 'CHACARITA', 'PATERNAL',
       'COLEGIALES', 'VILLA DEL PARQUE', 'VILLA LUGANO', 'VILLA SANTA RITA',
       'BARRACAS', 'MONTE CASTRO', 'VILLA RIACHUELO', 'RETIRO', 'MONSERRAT',
       'VILLA SOLDATI', 'CONSTITUCION', 'BOEDO', 'PARQUE PATRICIOS',
       'SAN TELMO', 'GOGHLAND', 'SAN NICOLAS', 'RECOLETA', 'VILLA REAL',
       'VILLA PUEYRREDON', 'VILLA GRAL. MITRE', 'VELEZ SARSFIELD',
       'NUEVA POMPEYA', 'PARQUE CHAS', 'VERSALLES', 'COGHLAN', 'PUERTO MADERO',
       'MONTSERRAT', 'PARQUE AVELLANED', 'NUNEZ', 'VILLA GRAL. MITR',
       'VILLA GRAL MITRE', 'NU?ÆEZ', 'NU?EZ'],
      dtype='object', name='Neighborhood')

In [11]:
#Since the names of some barrios are incorrect, this will correct them so that they all have the right names.

df.reset_index(inplace=True)
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('NUNEZ', 'NUÑEZ'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('NU?ÆEZ', 'NUÑEZ'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('NU?EZ', 'NUÑEZ'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('GOGHLAND', 'COGHLAN'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('PARQUE AVELLANED', 'PARQUE AVELLANEDA'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('SARSFIELD', 'SARFIELD'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('VILLA GRAL. MITRE', 'VILLA GENERAL MITRE'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('VILLA GRAL. MITR', 'VILLA GENERAL MITRE'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('VILLA GRAL MITRE', 'VILLA GENERAL MITRE'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('VILLA PUYRREDON', 'VILLA PUEYRREDON'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('PARQUE AVELLANEDAA', 'PARQUE AVELLANEDA'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('VERSALLES', 'VERSAILLES'))))
df['Neighborhood'] = (df['Neighborhood'].apply(lambda x: str(x.replace('MONSERRAT', 'MONTSERRAT'))))

In [12]:
#Here are the corrected names for each Barrio in Buenos Aires
df['Neighborhood'].unique()

array(['PALERMO', 'BELGRANO', 'NUÑEZ', 'VILLA ORTUZAR', 'BALVANERA',
       'SAN CRISTOBAL', 'VILLA CRESPO', 'VILLA GENERAL MITRE', 'FLORESTA',
       'PARQUE CHACABUCO', 'PARQUE AVELLANEDA', 'CABALLITO', 'ALMAGRO',
       'POMPEYA', 'VILLA URQUIZA', 'SAAVEDRA', 'VILLA PUEYRREDON',
       'VILLA LURO', 'MATADEROS', 'FLORES', 'VERSAILLES', 'LINIERS',
       'VELEZ SARFIELD', 'VILLA DEVOTO', 'BOCA', 'AGRONOMIA', 'CHACARITA',
       'PATERNAL', 'COLEGIALES', 'VILLA DEL PARQUE', 'VILLA LUGANO',
       'VILLA SANTA RITA', 'BARRACAS', 'MONTE CASTRO', 'VILLA RIACHUELO',
       'RETIRO', 'MONTSERRAT', 'VILLA SOLDATI', 'CONSTITUCION', 'BOEDO',
       'PARQUE PATRICIOS', 'SAN TELMO', 'COGHLAN', 'SAN NICOLAS',
       'RECOLETA', 'VILLA REAL', 'NUEVA POMPEYA', 'PARQUE CHAS',
       'PUERTO MADERO'], dtype=object)

In [13]:
df.head()

,Neighborhood,Commune,Longitude,Latitude,Date,Value in US Dollars,Value of m2 (US Dollars),m2
0,PALERMO,14,-58.4413,-34.5695,2001/12/10,720000.0,2400.0,300.0
1,BELGRANO,13,-58.4521,-34.5579,2001/12/10,729975.0,973.3,750.0
2,BELGRANO,13,-58.4523,-34.5577,2001/12/10,650032.5,847.5,767.0
3,NUÑEZ,13,-58.4677,-34.5374,2001/12/10,369991.2,994.6,372.0
4,VILLA ORTUZAR,15,-58.462,-34.5783,2001/12/10,94005.7,676.3,139.0

In [14]:
barrios = ['PALERMO', 'BELGRANO', 'NUÑEZ', 'VILLA ORTUZAR', 'BALVANERA',
       'SAN CRISTOBAL', 'VILLA CRESPO', 'VILLA GENERAL MITRE', 'FLORESTA',
       'PARQUE CHACABUCO', 'PARQUE AVELLANEDA', 'CABALLITO', 'ALMAGRO',
       'POMPEYA', 'VILLA URQUIZA', 'SAAVEDRA', 'VILLA PUEYRREDON',
       'VILLA LURO', 'MATADEROS', 'FLORES', 'VERSAILLES', 'LINIERS',
       'VELEZ SARFIELD', 'VILLA DEVOTO', 'BOCA', 'AGRONOMIA', 'CHACARITA',
       'PATERNAL', 'COLEGIALES', 'VILLA DEL PARQUE', 'VILLA LUGANO',
       'VILLA SANTA RITA', 'BARRACAS', 'MONTE CASTRO', 'VILLA RIACHUELO',
       'RETIRO', 'MONTSERRAT', 'VILLA SOLDATI', 'CONSTITUCION', 'BOEDO',
       'PARQUE PATRICIOS', 'SAN TELMO', 'COGHLAN', 'SAN NICOLAS',
       'RECOLETA', 'VILLA REAL', 'NUEVA POMPEYA', 'PARQUE CHAS',
       'PUERTO MADERO']

barrios[2]

'NUÑEZ'

In [15]:
#This function creates and returns a dataframe filtered by the selected Barrio, which is passed as the second argument. Grouping
#by year, it adds a column for each the mean, minimum, maximum and standard deviation.

def barrio(df, barrio):
    filtered_df = (df.where(df['Neighborhood'] == barrio)
                           .set_index('Neighborhood')
                           .dropna()
                           .sort_values('Date'))
    
    #Convert the date column to datetime
    filtered_df['Date'] = pd.to_datetime(filtered_df['Date'])
    
    #Remove the values from before 2001
    filtered_df = (filtered_df.where(filtered_df['Date'] > pd.to_datetime('2000/12/31', format='%Y/%m/%d')))
    
    #We only keep the year, which is later set as index
    filtered_df['Date'] = filtered_df['Date'].dt.strftime('%Y')
    filtered_df.set_index('Date', inplace=True)
    filtered_df.dropna(inplace=True)
    
    #Add the columns for the Mean, Min, Max and Std.
    filtered_df['Yearly Mean value of m2'] = (filtered_df['Value of m2 (US Dollars)'].groupby(level=0).mean())
    filtered_df['Yearly Min value of m2'] = (filtered_df['Value of m2 (US Dollars)'].groupby(level=0).min())
    filtered_df['Yearly Max value of m2'] = (filtered_df['Value of m2 (US Dollars)'].groupby(level=0).max())
    filtered_df['Yearly std for m2 value'] = (filtered_df['Value of m2 (US Dollars)'].groupby(level=0).std())    
    return filtered_df

In [16]:
palermo = barrio(df, 'PALERMO')
palermo.head()

,Commune,Longitude,Latitude,Value in US Dollars,Value of m2 (US Dollars),m2,Yearly Mean value of m2,Yearly Min value of m2,Yearly Max value of m2,Yearly std for m2 value
Date,,,,,,,,,,
2001,14.0,-58.4413,-34.5695,720000.0,2400.0,300.0,1126.97027,267.4,2928.2,687.416188
2001,14.0,-58.4341,-34.5876,85012.0,320.8,265.0,1126.97027,267.4,2928.2,687.416188
2001,14.0,-58.4348,-34.587,120003.0,923.1,130.0,1126.97027,267.4,2928.2,687.416188
2001,14.0,-58.4351,-34.578,219989.6,670.7,328.0,1126.97027,267.4,2928.2,687.416188
2001,14.0,-58.4318,-34.5815,175012.8,575.7,304.0,1126.97027,267.4,2928.2,687.416188

In [17]:
agronomia = barrio(df, 'AGRONOMIA')
agronomia.head()

,Commune,Longitude,Latitude,Value in US Dollars,Value of m2 (US Dollars),m2,Yearly Mean value of m2,Yearly Min value of m2,Yearly Max value of m2,Yearly std for m2 value
Date,,,,,,,,,,
2001,15.0,-58.485,-34.5847,78993.6,470.2,168.0,516.629167,223.1,2615.9,479.252302
2001,15.0,-58.4901,-34.5901,94995.6,368.2,258.0,516.629167,223.1,2615.9,479.252302
2001,15.0,-58.4944,-34.5929,395000.9,2615.9,151.0,516.629167,223.1,2615.9,479.252302
2001,15.0,-58.4876,-34.5887,249964.8,332.4,752.0,516.629167,223.1,2615.9,479.252302
2001,15.0,-58.4987,-34.5923,58006.0,223.1,260.0,516.629167,223.1,2615.9,479.252302

In [18]:
belgrano = barrio(df, 'BELGRANO')
belgrano.tail()

,Commune,Longitude,Latitude,Value in US Dollars,Value of m2 (US Dollars),m2,Yearly Mean value of m2,Yearly Min value of m2,Yearly Max value of m2,Yearly std for m2 value
Date,,,,,,,,,,
2017,13.0,,,450000.0,2000.0,225.0,3810.017143,972.4,9943.2,1994.870039
2018,13.0,-58.4546,-34.5636,450000.0,4500.0,100.0,2519.250000,1761.0,4500.0,1323.254668
2018,13.0,-58.4575,-34.5613,64977.0,1969.0,33.0,2519.250000,1761.0,4500.0,1323.254668
2018,13.0,-58.4657,-34.5595,84962.0,1847.0,46.0,2519.250000,1761.0,4500.0,1323.254668
2018,13.0,-58.4462,-34.5573,36981.0,1761.0,21.0,2519.250000,1761.0,4500.0,1323.254668

In [19]:
df.to_csv('cleaned_data.csv')

In [20]:
df.groupby(['Commune','Neighborhood']).size().reset_index().rename(columns={0:'count'}).to_csv('communes.csv')

In [21]:
df.to_csv('cleaned_data.csv')